.card-content{
  display: flex;
  justify-content: center;
}

.card{
  width: 70%;
  position: absolute;
  top: 11em;
  z-index: 10;
  border-radius: 15px;
}

.row-content{
  padding: 20px;
}

.card-info{
  border-left: 1px solid black;
}

@media (max-width: 768px){
  .card{
    display: flex;
    text-align: center;
  }
  .card-info{
    border: none;
  }
}
