.card-content{
  display: flex;
  justify-content: center;
}

.card{
  width: 70%;
  position: fixed;
  top: 11em;
  z-index: 10;
}

.row-content{
  padding: 20px;
}

.card-info{
  border-left: 1px solid black;
}
